body{
    background-color:#212428 !important;
    color:#c4cfde !important;
}
.bannerSlider{
    background:url('../../../../public/assets/images/bg-image-1.jpg') no-repeat center/cover;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.bannerSlider:before {
    content: '';
    background-color: #212428;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}
.bannerSlider h1{
    color: #c4cfde;
    font-weight: 700;
    font-size:75px;
}
.bannerSlider h1 strong{
    font-weight: 700;
}
.devServices svg, .devServices h2, .devServices p {
    color: #c4cfde;
}

.devServices {
    padding: 35px;
    transition: 0.5s all ease-in-out;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    height: 100%;
    background: linear-gradient(145deg, #1e2024, #23272b);
}

.devServices:before {
    content: "";
    position: absolute;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #212428, #16181c);
    opacity: 0;
    z-index: -1;
}

.devServices:hover:before {
    opacity: 1;
}

.devServices:hover {
    padding-bottom: 50px;
}
.devServicesIcon {
    margin-bottom: 25px;
}
.devServicesIcon svg{
    width: 50px;
    height: auto;
    color: #ff014f;
    stroke-width: 1 !important;
}
.experienceWrappper, .educationWrapper{
    height: 100vh;
    display: flex;
    align-items: center;
}

.experienceColWrapper {
    display: inline-block;
    border-top: solid 1px #c4cfde;
    padding: 50px 50px;
    border-bottom: solid 1px #c4cfde;
    border-left: solid 1px #c4cfde;
}

.experienceColWrapper span.experienceNum {
    font-size: 258px;
    line-height: 258px;
    font-weight: 400;
}

.experienceColInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experienceColInner svg {
    font-size: 35px;
    color: #ff014f;
}

.experienceText p {
    font-size: 20px;
    font-weight: 400;
    width: 64%;
    text-align: right;
    float: right;
    margin-bottom: 0;
}

.experienceText:before {
    content: '';
    height: 1px;
    width: 50%;
    background: #c4cfde;
    position: absolute;
    left: 0;
    bottom: 4px;
}

.experienceText {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.experienceRunningBar p {
    color: #7a7a7a;
}
.progressBar  .barBg {
    background: #7a7a7a14;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 30px;
    position: relative;
}

.progressBar .barBg:before {
    content: '';
    background: #ff014f;
    position: absolute;
    height: 100%;
}

.progressBar .barMbl:before{
    width: 80%;
}

.progressBar .coding:before{
    width:70%;
}
.progressBar .Illustration:before{
    width:60%;
}
.experienceRunningBar .progressBarContent {
    display: flex;
    justify-content: space-between;
}