body{
  font-family: 'Montserrat', sans-serif;
}
/*========================================================
      Typo
========================================================*/
h1 {font-size: 75px !important;}
h2 {font-size: 50px !important;}
h3 {font-size: 40px !important;}
h4 {font-size: 30px !important;}
h5 {font-size: 20px !important;}
h6 {font-size: 18px !important;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
